Source: subiquity
Section: admin
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: bzr,
               debhelper (>= 9),
               dh-python,
               git,
               pep8,
               pyflakes,
               python3-all,
               python3-coverage,
               python3-flake8,
               python3-jinja2,
               python3-netifaces,
               python3-nose,
               python3-parted,
               python3-pyudev,
               python3-setuptools,
               python3-urwid,
               python3-yaml,
               ubuntu-cloudimage-keyring
Standards-Version: 3.9.5
Homepage: https://github.com/CanonicalLtd/subiquity
X-Python3-Version: >= 3.3
Vcs-Browser: https://github.com/CanonicalLtd/subiquity
Vcs-Git: https://github.com/CanonicalLtd/subiquity.git

Package: subiquity
Architecture: all
Depends: bzr
         ${misc:Depends},
         git,
         python3-all,
         python3-coverage,
         python3-flake8,
         python3-jinja2,
         python3-netifaces,
         python3-nose,
         python3-parted,
         python3-pyudev,
         python3-setuptools,
         python3-urwid,
         python3-yaml,
         ubuntu-cloudimage-keyring,
         ${python3:Depends},
         ${python:Depends}
Description: Ubuntu Server Installer
 This package provides the installer routines for bootstrapping a system
 with the Subiquity the server installer UI.
